@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
/*CSS reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end CSS reset*/
main {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 799px) {
  main {
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  main {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  main {
    width: 80%;
    margin: auto;
  }
}
main section:not(.footer-item) {
  width: 100%;
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 2.5rem;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand {
  padding-left: 2rem;
  font-family: "libre Baskerville", serif;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}
@media screen and (min-width: 800px) {
  .navbar-brand {
    height: 30px;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 799px) {
  .navbar-brand {
    position: relative;
  }
}
.navbar-nav-item {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  padding-right: 2rem;
  height: 30px;
  align-items: center;
}
.navbar-nav-item .nav-link a {
  text-decoration: none;
  font-family: "libre Baskerville", serif;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.navbar-nav-item .nav-link:hover {
  background-color: white;
  border-radius: 25px;
  padding: 0.3rem;
}
.navbar-nav-item .nav-link:hover a {
  color: black;
}
@media screen and (max-width: 799px) {
  .navbar-nav-item {
    position: absolute;
    width: 80%;
    height: 5rem;
    padding: 1rem;
    top: 7rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    background-color: white;
  }
  .navbar-nav-item .nav-link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .navbar-nav-item .nav-link a {
    font-family: "libre Baskerville", serif;
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
  }
  .navbar-nav-item .nav-link:hover {
    background-color: #fad400;
    border-radius: 25px;
    padding: 0.3rem;
  }
  .navbar-nav-item .nav-link:hover a {
    color: black;
  }
}
@media screen and (min-width: 800px) {
  .navbar-responsive-btn {
    display: none;
  }
}
@media screen and (max-width: 799px) {
  .navbar-responsive-btn {
    display: block;
    margin-right: 1rem;
    color: white;
  }
}

#introduction {
  background-image: url(images/desktop/image-header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 799px) {
  #introduction {
    height: 80vh;
    background-image: url(images/mobile/image-header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }
}
#introduction #page-title {
  position: absolute;
  width: 100%;
  height: 4rem;
  top: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}
#introduction #page-title * {
  color: white;
}
#introduction #page-title .fa-arrow-down {
  font-stretch: extra-condensed;
  transform: scale(2, 2.5);
}

#branding-bg,
#audience-bg,
#graphic,
#photography {
  background-size: cover;
}

.service-block {
  display: flex;
  flex-direction: row;
  column-gap: 0;
}
@media screen and (max-width: 799px) {
  .service-block {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
}
.service-block-item {
  width: 50%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
}
@media screen and (max-width: 799px) {
  .service-block-item {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
.service-block-item-title {
  font-family: "libre Baskerville", serif;
  font-size: 25px;
  color: black;
  font-weight: bolder;
}
.service-block-item .btn-learnmore {
  width: 30%;
  font-family: "libre Baskerville", serif;
  font-size: 18px;
  color: black;
  font-weight: normal;
  border: none;
  background: none;
}
@media screen and (min-width: 800px) {
  .service-block-item .btn-learnmore {
    margin-left: 4rem;
  }
}
.service-block-item .btn-learnmore:hover {
  border-bottom: 2px solid yellowgreen;
}
@media screen and (max-width: 799px) {
  .service #branding {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 0;
  }
}
.service #branding-content {
  row-gap: 1rem;
}
.service #branding-content h2,
.service #branding-content p {
  width: 50%;
}
@media screen and (min-width: 800px) {
  .service #branding-content h2,
.service #branding-content p {
    margin-left: 5rem;
  }
}
.service #branding-content p {
  font-size: 18px;
}
@media screen and (max-width: 799px) {
  .service #branding-content {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .service #branding-content h2,
.service #branding-content p {
    width: 90%;
    text-align: center;
  }
}
.service #branding-bg {
  background-image: url(images/desktop/image-transform.jpg);
}
@media screen and (max-width: 799px) {
  .service #branding-bg {
    background-image: url(images/mobile/image-transform.jpg);
  }
}
.service #audience-content {
  row-gap: 1rem;
}
.service #audience-content h2,
.service #audience-content p {
  width: 50%;
}
@media screen and (min-width: 800px) {
  .service #audience-content h2,
.service #audience-content p {
    margin-left: 5rem;
  }
}
.service #audience-content p {
  font-size: 18px;
}
@media screen and (max-width: 799px) {
  .service #audience-content {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .service #audience-content h2,
.service #audience-content p {
    width: 90%;
    text-align: center;
  }
}
.service #audience-bg {
  background-image: url(images/desktop/image-stand-out.jpg);
}
@media screen and (max-width: 799px) {
  .service #audience-bg {
    background-image: url(images/mobile/image-stand-out.jpg);
  }
}
.service #design h2 {
  position: absolute;
  width: 60%;
  top: 60%;
  text-align: center;
}
.service #design #graphic {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(images/desktop/image-graphic-design.jpg);
}
@media screen and (max-width: 799px) {
  .service #design #graphic {
    background-image: url(images/mobile/image-graphic-design.jpg);
  }
}
.service #design #graphic-content {
  font-family: "libre Baskerville", serif;
  font-size: 14px;
  color: black;
  font-weight: normal;
  position: absolute;
  width: 60%;
  top: 70%;
  text-align: center;
}
.service #design #photography {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-image: url(images/desktop/image-photography.jpg);
}
@media screen and (max-width: 799px) {
  .service #design #photography {
    background-image: url(images/mobile/image-photography.jpg);
  }
}
.service #design #photography-content {
  font-family: "libre Baskerville", serif;
  font-size: 14px;
  color: black;
  font-weight: normal;
  position: absolute;
  width: 60%;
  top: 70%;
  text-align: center;
}

#testimonials {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
@media screen and (max-width: 799px) {
  #testimonials {
    padding-top: 50%;
    padding-bottom: 50%;
  }
}
#testimonials-title {
  font-family: "libre Baskerville", serif;
  font-size: 30px;
  color: gray;
  font-weight: bolder;
}
#testimonials .testimonial-block {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
@media screen and (max-width: 799px) {
  #testimonials .testimonial-block {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
}
#testimonials .client {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 799px) {
  #testimonials .client {
    row-gap: 1.5rem;
  }
}
#testimonials .client-avatar {
  border-radius: 50%;
  width: 20%;
}
@media screen and (max-width: 799px) {
  #testimonials .client-avatar {
    width: 10%;
  }
}
#testimonials .client-review {
  font-family: "libre Baskerville", serif;
  font-size: 12px;
  color: black;
  font-weight: normal;
  line-height: 1rem;
  width: 60%;
  text-align: center;
}
#testimonials .client-name {
  font-family: "libre Baskerville", serif;
  font-size: 13px;
  color: black;
  font-weight: bolder;
}
#testimonials .client-position {
  font-family: "libre Baskerville", serif;
  font-size: 11px;
  color: gray;
  font-weight: normal;
}

#gallery {
  display: flex;
  flex-direction: row;
  column-gap: 0;
}
#gallery .gallery-img {
  width: 25%;
}
@media screen and (max-width: 799px) {
  #gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  #gallery .gallery-img {
    width: 100%;
  }
}

.footer {
  width: 100%;
  height: 50vh;
  background-color: #91d3c6;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}
.footer #legal {
  font-family: "libre Baskerville", serif;
  font-size: 30px;
  color: black;
  font-weight: bolder;
}
.footer #sitemap {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.footer #sitemap .nav-link a {
  text-decoration: none;
  font-family: "libre Baskerville", serif;
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.footer #social-link {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

/*# sourceMappingURL=style.css.map */
